{% extends "inicio/encabezado.html" %}
{% block titulo %} Principal {% endblock %}
{%block imagen%}
{%load static%}
{%static 'inicio/images/home.png'%}
{%endblock%}
{%block subtexto%} Principal {%endblock%}
{%block span%} DMS {%endblock%}
<!--MENU-->

<!--Contenido-->
{% block contenido %} <!--Template Tag-->
{%block encabezado%}
<!--Encabezdo -->
<h3>Alumnos
    <small>Lista de Alumnos </small>
</h3>
<!-- /Encabezado-->
{%endblock%}

<!-- Tabla de Alumnos -->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Turno</th>
        </tr>
    </thead>

    <tbody>
        {% for alumno in alumnos %}
        <tr>
            <td class="text-center">
                <img src="{{alumno.imagen.url}}" alt="Foto de Alumno" class="img-media">
            </td>
            <td class="text-semibold">{{alumno.matricula}}</td>
            <td class="muted">{{alumno.nombre}}</td>
            <td class="muted">{{alumno.carrera}}</td>
            <td class="muted">{{alumno.turno}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!--Tabla de Alumnos-->

{% endblock %}