{% extends "inicio/encabezado.html" %}

{% block titulo %}Inicio{% endblock %}
{% block imagen %}
    {%load static%}
    {%static 'inicio/images/home.png'%}
{%endblock%}

{% block sidebar_info %}
    Pincipal<span>DSM</span>
{% endblock %}
{% block tituloPagina %}Principal{% endblock %}
{% block subtitulo %}Inicio{% endblock %}

{% block contenido %}
<!-- Tabla de Alumnos -->
<table class="table table-border table-striped">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Turno</th>
        </tr>
        <tr>
            <td class="text-center">
                <img src="" alt="" class="img-media">
            </td>
            <td class="text-semibold">UTM1234TIC</td>
            <td class="muted">Nathalie</td>
            <td class="muted">Tic</td>
            <td class="muted">Matutino </td>

        </tr>
    </thead>
</table>
{% endblock %}